body{
    background-color: #4778b4;
    color: white;
    font-family: "Roboto Slab", serif; 
    font-optical-sizing: auto;
}
.game-box {
    text-align: center;
    margin-top: 50px;
}
.number-box {
    font-size: 2rem;
    padding: 10px;
    color: lemonchiffon;
   
    margin: 10px;
    width: 60px;
    height: 60px;
}
.score-box {
    font-size: 1.5rem;
    padding: 15px;
    margin: 20px;
}
#comment{
    color: rgb(199, 239, 56);
    font-size: larger;
}
#score{
    color: orange;
    font-size: 22px;
}
